<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TCx</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/notfound.css" />
    <script src="scripts/index.js" defer></script>
  </head>
  <body>
    <div class="root">
      <!-- NAV START -->
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/assets/logos/tc-logo-long-wl.png" />
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">Docs</a>
            <a class="navbar-item" href="/members">Members</a>
          </div>
        </div>
      </nav>
      <!-- NAV END -->
      <main>
        <h1>
          404
        </h1>
        <h2>Spooky...: This page doesn't exist</h2>
        <p>Try going <a href="/" class="nav-link">home</a> where it's safer.</p>
      </main>
    </div>
  </body>
</html>
